:root{
    --primary-color: #0066CC;
    --secondary-color: #888888;
}
label{
    user-select: none;
}
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.back{
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 1.6rem;
    color: #333;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.back:hover{
    background-color: #e7e7e7c1;
}
.login-container .external-form{
    width: 50%;
    height: 100vh;
    display: flex;
    background-color: #f9f9f9f9;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login-container .external-form .internal-form{
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.internal-form .form-header{
    text-align: center;
}
.internal-form .form-header h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #333;
}
.internal-form .form-header p{
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-top: 10px;
}
.form-header a{
    color: var(--primary-color);
}
.internal-form .form-body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form-body label{
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-bottom: 5px;
}
.form-body input{
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}
.form-body input:focus{
    border: 1px solid var(--primary-color);
}
.form-body input::placeholder{
    color: #555;
}
.form-body .password-container{
    width: 100%;
    position: relative;
}
.password-container input{
    width: 100%;
}
.password-container i{
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 20px;
    border-left: 1px solid #333;
    padding:6px 12px;
    margin-top: 1px;
    color: #333;
    font-weight: 200;
    cursor: pointer;
}
#password{
    position: relative;
}
#password::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: black;
    right: 0;
    top: 15%;
}
.form-body .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9rem;
}
.remember-forgot label{
    color: var(--secondary-color);
    cursor: pointer;
}
.remember-forgot a{
    color: var(--primary-color);
}
.remember-forgot input{
    margin-right: 5px;
}
.form-body button{
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.3s;
}
.form-body button:hover{
    background-color: #0055CC;
}
.form-body .form-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-bottom p{
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-align: center;
}
.form-bottom .or{
    position: relative;
}
.form-bottom p::after{
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 10px;
}
.form-bottom p::before{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 0;
}
.form-bottom .social-media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.social-media a{
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    color: #666;
    font-weight: 500;
    text-decoration: none;
    transform: all 0.3s;
}
.social-media a:hover{
    opacity: 0.9;
}
.social-media a img{
    width: 20px;
    margin-right: 5px;
}
.login-container .taglines-container{
    width: 50%;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taglines-container::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background: linear-gradient(to bottom , #ffff, #fff3);
    opacity: 0.3;
    border-radius: 50%;
    right: -250px;
    top: -150px;
    transform: translateX(var(--position, 0));
    transition: all 1.5s;
}
.taglines-container::after{
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background: linear-gradient(to bottom , #ffff, #fffb);
    opacity: 0.3;
    border-radius: 50%;
    left: -150px;
    bottom: -300px;
    transform: translateX(var(--position, 0));
    transition: all 1.5s;
}
.taglines-container .parent{
    width: 100%;
    padding: 0 calc(50% - 250px);
    box-sizing: border-box;
}
.taglines-container .tagline{
    width: 500px;
    height: 280px;
    background-color: #f9f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ffffff89;  
    overflow: hidden;   
    display: flex;
    align-items: center;
}
.tagline img{
    object-fit: contain;
}
.taglines-container .arrows{
    position: absolute;
    width:20%;
    height: 50px;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}
.taglines-container .arrows i{
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    color: #ffffffa6; 
}
.arrows .circle-parent{
    height: 10px;
    align-items: center;
    display: flex;
    
    gap: 10px;
}
.arrows .circle-parent .selected-circle{
    width: 7px ;
    height: 7px ;
    background-color: #fff ;
}
.arrows .circle{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffffffa6;
    transition: all 0.4s;
}

.taglines-container .tagline h1{
    font-size: 2.1rem;
    color: var(--primary-color);
}
.taglines-container .tagline p{
    font-size: 1rem;
    color: var(--secondary-color);
}
.left{
    right: 200px;
}
.right{
    left: 200px;
}
/* Extra Small Devices (phones) */
@media (max-width: 576px){
    .login-container .taglines-container{
        display: none;
    }
    .login-container .external-form{
        width: 100% ;
        height: 100svh ; 
    }
    .login-container{
        height: 100svh ;
    }
    .login-container .external-form .internal-form{
        width: 85%;
    }
}
/* Small Devices (Tablets in Protrait) */
@media (min-width: 575px) and (max-width: 650px){
    .login-container .taglines-container{
        display: none;
    }
    .login-container .external-form{
        width: 100% ;
        height: 100svh ; 
    }
    .login-container{
        height: 100svh ;
    }
    .login-container .external-form .internal-form{
        width: 70%;
    }

}
@media (min-width: 651px) and (max-width:844px){
    .login-container .taglines-container{
        display: none;
    }
    .login-container .external-form{
        width: 100% ;
        height: 100svh ; 
    }
    .login-container{
        height: 100svh ;
    }
    .login-container .external-form .internal-form{
        width: 60%;
    }

}
/* Medium Devices (Tablets in Landscape, Small Laptops) */
@media (min-width: 845px) and (max-width: 1050px){
    .login-container .external-form{
        height: 100svh ; 
    }
    .login-container{
        height: 100svh ;
    }
    .login-container .external-form .internal-form{
        width: 85%;
    }
    .taglines-container .parent{
        width: 100%;
        padding: 0 calc(50% - 200px);
        box-sizing: border-box;
    }
    .taglines-container .tagline{
        width: 400px;
        height: 210px;
        padding: 20px;
    }
    .taglines-container .tagline h1{
        font-size: 1.6rem;
        color: var(--primary-color);
        line-height: 1.5;
    }
    .taglines-container .tagline p{
        font-size: 0.8rem;
        color: var(--secondary-color);
    }
    .tagline img{
        width: 180px !important;
    }
}