.post-container{
    width: 100%;
    min-height: 200px;
    background-color: red;
    background-color: #F9F9F9;
    border-radius: 10px;
    color: #333;
    padding-bottom: 15px;
}
.post-container .header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.header .unfollow-mask{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 5px 0 0 ;
}
.header .unfollow-mask p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #0066CC;
    cursor: pointer;
}
.unfollow-mask i{
    cursor: pointer;
    transition: all 0.3s ease;
}
.unfollow-mask i:hover{
    opacity: 0.6;
}
.post-container .description{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.description p{
    font-size: 0.8rem;
}
.description .title-difficulty{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.title-difficulty h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.title-difficulty p{
    font-size: 0.9rem;
    color: #fff;
    background-color: #0066CC;
    padding: 3px 5px;
    border-radius: 5px;
}
.category-timer{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.category-timer .category{
    display: flex;
    gap: 10px;
}
.category-timer p{
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ECEDF0;
    border-radius: 10px;
    color: #555E67;
}
.post-container .reactions{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.reactions p{
    font-size: 1rem;
}
.reactions p i{
    margin-right: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.reactions p i:hover{
    opacity: 0.6;
}
#dislike{
    position: relative;
}
#dislike::after{
    content: "";
    position: absolute;
    top: 12px;
    left: -5px;
    height: 1px;
    width: 140%;
    background-color: #333;
    transform: rotate(45deg);
}
.post-container button{
    background-color: #fff;
    border: 1px solid #0066CC;
    color: #0066CC;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.post-container button:hover{
    opacity: 0.6;
}   