.Question-side{
    background-color: var(--primary-color-light);
    border-radius: var(--radius);
    padding: 15px 10px 10px 10px;
    cursor: pointer;
}
.Question-side h4{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-color);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#title{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
#id{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-right: 10px;
    background-color: #E0E0E0;
    border-radius: var(--radius);
}
.Question-side .choice-delete{
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    height: 25px;
    margin-top: 5px;
    align-items: center;
}
.Question-side .choice-delete span{
    font-size: 0.8rem;
    margin-left: 7px;
}
.Question-side .choice-delete span i{
    font-size: 1.1rem;
    position: relative;
    top: 3px;
    left: -5px;
    margin: 0 2px;
}
.Question-side .choice-delete .delete{
    cursor: pointer;
    font-size: 1.13rem;
}